/* telas de suporte para orientar a navegação */
#empty-search {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}
#empty-search .img-pokeballs {
  width: 30%;
  padding: 1rem 0 0 0;
}
#empty-search .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-primary-80);
}
#empty-search .content .body-larger {
  color: var(--color-gray-primary-50);
}
@keyframes spinPokeball {
  0% {
    transform: rotate(0deg);
    padding: 0 0 0 0;
  }
  25% {
    transform: rotate(120deg);
    padding: 0 4px 0 0;
  }
  50% {
    transform: rotate(240deg);
    padding: 0 0 0 0;
  }
  100% {
    transform: rotate(360deg);
    padding: 0 0 0 0;
  }
}

/* animação pokébola - loading */
#loading-animation {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  box-sizing: border-box;
  color: var(--color-gray-primary-50);
}
#loading-animation .animate-pokeball {
  width: clamp(56px, 56px, 96px);
  animation: spinPokeball 1s linear infinite;
}

/* mobile */
@media (min-width: 200px) and (max-width: 768px) {
  #empty-search {
    gap: 2rem;
  }
  #empty-search .img-pokeballs {
    width: 60%;
    padding: 20% 0 0 0;
  }
  #empty-search .content {
    padding: 0% 5%;
  }
  #empty-search .content .h6 {
    font-size: 1.25rem;
    text-align: center;
  }
}
