/* telas de suporte para orientar a navegação */
#empty-search {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}
#empty-search .img-pokeballs {
  width: 30%;
  padding: 1rem 0 0 0;
}
#empty-search .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-primary-80);
}
#empty-search .content .body-larger {
  color: var(--color-gray-primary-50);
  text-align: center;
}
@keyframes spinPokeball {
  0% {
    transform: rotate(0deg);
    padding: 0 0 0 0;
  }
  25% {
    transform: rotate(120deg);
    padding: 0 4px 0 0;
  }
  50% {
    transform: rotate(240deg);
    padding: 0 0 0 0;
  }
  100% {
    transform: rotate(360deg);
    padding: 0 0 0 0;
  }
}

/* animação pokébola - loading */
#loading-animation {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  box-sizing: border-box;
  color: var(--color-gray-primary-50);
}
#loading-animation .animate-pokeball {
  width: clamp(56px, 56px, 96px);
  animation: spinPokeball 1s linear infinite;
}

/* fitros de ordenação */
.filter-mobile {
  display: none;
}
.sorting-options {
  display: flex;
  z-index: 10;
  flex-direction: column;
  padding: 0;
  border-radius: var(--radius-small);
  background: var(--color-background-white-default);
  position: absolute;
  box-shadow: var(--shadow-card);
  top: 72px;
  right: 10%;
  width: max-content;
}
.sorting-options .order {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--color-gray-primary-5);
}
.sorting-options .order img {
  width: 1.25rem;
}
.sorting-options .order-choice {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}
.sorting-options .order-choice p:nth-child(1) {
  width: 72px;
}
.sorting-options .order-choice p:nth-child(2),
.sorting-options .order-choice p:nth-child(3) {
  padding: 0.5rem;
  color: var(--color-red-primary);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-red-primary);
  opacity: 0.5;
  text-align: center;
  flex: 1;
  min-width: 80px;
}
.sorting-options .order-choice p:nth-child(2):hover,
.sorting-options .order-choice p:nth-child(3):hover {
  opacity: 1;
  cursor: pointer;
  color: var(--color-gray-primary-80);
  background: var(--color-yellow-primary);
  border: 1px solid var(--color-yellow-primary);
}
.btn-filter {
  cursor: pointer;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  background: var(--color-background-white-default);
  color: var(--color-red-primary);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-red-primary);
  flex: 1;
}
.order .btn-filter:nth-child(2) {
  color: var(--color-gray-primary-80);
  background: var(--color-yellow-primary);
  border: 1px solid var(--color-yellow-primary);
}

/* mobile */
@media (min-width: 200px) and (max-width: 768px) {
  #empty-search {
    gap: 2rem;
  }
  #empty-search .img-pokeballs {
    width: 60%;
    padding: 20% 0 0 0;
  }
  #empty-search .content {
    padding: 0% 5%;
  }
  #empty-search .content .h6 {
    font-size: 1.25rem;
    text-align: center;
  }

  /* fitros de ordenação */
  .filter-mobile {
    display: flex;
  }
  .sorting-options {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    flex: 1;
    width: 100%;
    padding: 1rem 0 0 0;
    border-radius: 12px 12px 0 0;
  }
}
