<img class="img-pokeballs" src="imgs/empty-pokeballs.svg" alt="Pokébolas vazias" title="Busca vazia" />
<div class="content">
<h6 class="h6 text-regular">Não localizamos resultados para:
  <span class="text-bold"></span></span>
</h6>
  <p class="body-larger">Tente novamente ou gere um Pokémon surpresa</p>
</div>
<a href="" id="surprise-empty-search" class="link-desktop overlay--btn">
  <div class="container">
    <img src="icons/gray_shuffle.svg" alt="Surpreenda-me" />
    <p class="body-larger">Surpreenda-me</p>
  </div>
</a>