<img class="img-pokeballs" src="imgs/empty-pokeballs.svg" alt="Pokébolas vazias" title="Busca vazia" />
<div class="content">
<h6 class="h6 text-regular">Sua lista de favoritos está vazia
  <span class="text-bold"></span></span>
</h6>
  <p class="body-larger">Escolha os seus preferidos na página inicial</p>
</div>
<a href="" id="surprise-empty-search" class="link-desktop overlay--btn">
  <div class="container">
    <img src="icons/gray_arrow_back.svg" alt="Página inicial" />
    <p class="body-larger">Página inicial</p>
  </div>
</a>