<div class="sorting-options" data-status="visible">
  <div class="order">
    <img src="icons/gray_exercise.svg" alt="força" title="força" />
    <div class="order-choice">
      <p class="body-larger">Força:</p>
      <p class="body-larger text-bold">Mais forte</p>
      <p class="body-larger text-bold">Mais fraco</p>
    </div>
  </div>
  <div class="order">
    <img src="icons/gray_sort_by_alpha.svg" alt="nome" title="nome" />
    <div class="order-choice">
      <p class="body-larger">Nome:</p>
      <p class="body-larger text-bold" data-order="AZ">A - Z</p>
      <p class="body-larger text-bold">Z - A</p>
    </div>
  </div>
  <div class="order">
    <img src="icons/gray_badge.svg" alt="Id" title="Id" />
    <div class="order-choice">
      <p class="body-larger">Número:</p>
      <p class="body-larger text-bold">0 - 9</p>
      <p class="body-larger text-bold">9 - 0</p>
    </div>
  </div>
  <!-- botão aplicar ordenação/limpar -->
  <div class="order">
    <button class="btn-filter">
      <p class="body-larger">Cancelar</p>
    </button>
    <button class="btn-filter">
      <p class="body-larger text-bold">Aplicar<span> (3)</span></p>
    </button>
  </div>
</div>
